<!-- Entête du tableau  -->
<div class="entetePlacement">
    <div>
        <h2>Dernières <span>demandes</span> de stage</h2>
        <p class="sousTitre__couleur">
            En attente de validation
        </p>
    </div>
    <button type="button" class="boutonValidationDemande">
        Valider toutes les demandes
    </button>
</div>

<!-- Tableau-->
<table mat-table [dataSource]="dataSource" class="table__border" matSort>
    
    <!-- Profil Column -->
    <ng-container matColumnDef="profil">
        <th mat-header-cell *matHeaderCellDef > 
            Profil
            <div class="enteteTableauProfil__bordure"></div>
        </th>
        <td  mat-cell *matCellDef="let element"  >
            <div class="coteTableau__bordure">
                <div class="profilColonneElement">
                    <div  class="iconBordure">
                        <mat-icon>school</mat-icon>
                    </div>
                    <div class="elementProfil" >
                        <p class="elementProfilPoste"> 
                            {{element.profil}} 
                        </p>
                        <p>
                            {{element.nom}} 
                        </p>
                    </div>
                </div>
            </div> 
        </td>
    </ng-container>

    <!-- Etablissement Column -->
    <ng-container matColumnDef="etablissement">
        <th mat-header-cell *matHeaderCellDef> 
            Etablissement 
            <div class="enteteTableauEtablissement__bordure"></div>
        </th>
        <td mat-cell *matCellDef="let element" > 
            <div> 
                {{element.etablissement}}
            </div> 
        </td>
    </ng-container>
  
    <!-- Date Column -->
    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> 
            Date 
            <div class="enteteTableauDate__bordure"></div>
        </th>
        <td mat-cell *matCellDef="let element">
            <div> 
                {{element.date}}
            </div> 
        </td>
    </ng-container>

    <!-- Actions -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Actions
            <div class="enteteTableauActions__bordure"></div>
        </th>
        <td mat-cell *matCellDef="let forfaits">
            <div class="tableauBtnAction__flex">
                <div>
                    <button class="tableBtnRefuser" mat-icon-button aria-label="Modifier">Refuser</button>
                    <button class="tableBtnAccepter" mat-icon-button aria-label="Supprimer">Accepter</button>
                </div>
                <div>
                    <button class="iconVisibilite" mat-icon-button aria-label="Visibilite"><mat-icon>visibility</mat-icon></button>
                    <button class="iconModifier" mat-icon-button aria-label="Modifier"><mat-icon>edit</mat-icon></button>
                    <button class="iconSupprimer" mat-icon-button aria-label="Supprimer"><mat-icon>delete</mat-icon></button>
                </div>
            </div>
        </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
 