@import "../../../SCSS/vars";

:host {
  display: block;
  height: 100vh;
}

mat-toolbar {
  .navLinkButtonGroup {
    display: flex;
    margin-left: 3rem;
  }

  background-color: white;
  img {
    border-right: 3px solid $gris-clair;
    height: 100%;
    padding-right: 4.125rem;
  }
}

.adminBtn {
  display: flex;
  margin-left: auto;
  cursor: pointer;

  div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    span {
      display: inline-block;
      height: fit-content;
      line-height: 1rem;
      text-align: end;
    }

    .user {
      font-size: 0.7rem;
      font-weight: 700;
    }

    .role {
      font-size: 0.7rem;
      color: $gris-fonce;
      font-weight: 700;
    }
  }

  .avatar {
    display: inline-block;
    height: 2rem;
    background-color: $gris-fonce;
    width: 2rem;
    margin-left: 1rem;
    border-radius: 50%;
  }
}

.hidden {
  display: none;
}

mat-sidenav-container {
  height: calc(100vh - 4rem);
}

mat-sidenav,
mat-sidenav-content {
  padding: 0;
}

mat-sidenav {
  width: 250px;

  .adminBtn {
    display: none;
  }

  .navLinkButtonGroup {
    margin-top: 3rem;
    margin-left: 1.1rem;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: start;
    row-gap: 1rem;
  }
}

.space {
  padding-right: 50px;
}

ul {
  margin-top: 6rem;
}

ul li {
  width: 100%;

  margin: 0px;
  list-style-type: none;
}

ul li a {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 16px 24px;
  font-weight: 700;
}

.tableau-de-bord-active {
  border-right: 3px solid $vert-turquoise;
  padding-right: 3px;
}

.demandes-de-stage-active {
  border-right: 3px solid $jaune-fonce;
  padding-right: 3px;
}

.offres-de-stage-active {
  border-right: 3px solid $rouge;
  padding-right: 3px;
}

.candidats-active {
  border-right: 3px solid $mauve;
  padding-right: 3px;
}

.entreprises-active {
  border-right: 3px solid $bleu;
  padding-right: 3px;
}

.texte-tableau {
  color: $vert-turquoise;
}

.texte-demande {
  color: $jaune-fonce;
}

.texte-offres {
  color: $rouge;
}

.texte-candidats {
  color: $mauve;
}

.texte-entreprises {
  color: $bleu;
}

@media screen and (max-width: $w-xlarge) {
  mat-toolbar {
    .adminBtn {
      display: none;
    }

    .navLinkButtonGroup {
      display: none;
    }
  }

  mat-sidenav {
    .navLinkButtonGroup {
      display: flex;
    }

    .adminBtn {
      display: flex;
      margin-top: 3rem;
      margin-left: 1.5rem;
    }
  }
}
