<mat-toolbar [ngClass]="isLoginPage() ? 'hidden' : ''">
  <img
    class="space"
    src="../assets/img/logo.png"
    alt="Logo de la page de login"
  />

  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="screenWidth > 992 ? 'side' : 'over'">
    <mat-nav-list>
      <ul>
        <li>
          <a
            class="texte-tableau"
            routerLink="tableau-de-bord"
            routerLinkActive="tableau-de-bord-active"
            ><mat-icon class="space texte-tableau">slow_motion_video</mat-icon
            >Tableau de bord</a
          >
        </li>
        <li>
          <a
            class="texte-demande"
            routerLink="demandes-de-stage"
            routerLinkActive="demandes-de-stage-active"
            ><mat-icon class="space texte-demande">event_note</mat-icon>Demande
            de stage</a
          >
        </li>
        <li>
          <a
            class="texte-offres"
            routerLink="offres-de-stage"
            routerLinkActive="offres-de-stage-active"
            ><mat-icon class="space texte-offres">near_me</mat-icon>Offres de
            stage</a
          >
        </li>
        <li>
          <a
            class="texte-candidats"
            routerLink="candidats"
            routerLinkActive="candidats-active"
            ><mat-icon class="space texte-candidats">person</mat-icon
            >Candidats</a
          >
        </li>
        <li>
          <a
            class="texte-entreprises"
            routerLink="entreprises"
            routerLinkActive="entreprises-active"
            ><mat-icon class="space texte-entreprises">dashboard</mat-icon
            >Entreprises</a
          >
        </li>
      </ul>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
