<ng-container *ngIf="loading">
  <mat-spinner></mat-spinner>
</ng-container>

<ng-container *ngIf="!loading && offreDeStage">
  <div class="container">
    <div class="title">
      <p>Offree de stage</p>
      <h1>{{ offreDeStage.title }}</h1>
      <h2 class="square">{{ offreDeStage.enterprise }}</h2>
    </div>

    <div class="icons">
      <button type="button" (click)="handlePublish(offreDeStage._id!)">
        <mat-icon class="check-icon">check</mat-icon>
      </button>
      <a routerLink="edition"><mat-icon class="edit-icon">edit</mat-icon></a>
      <button type="button" (click)="handleDontPublish(offreDeStage._id!)">
        <mat-icon class="close-icon">close</mat-icon>
      </button>
    </div>
    <div class="card-container">
      <mat-card class="mat-card">
        <h2>Description de la tâche</h2>
        <p class="description-text">
          {{ offreDeStage.description }}
        </p>

        <section class="sub-title">
          <h1>Formation demandées</h1>
          <p>{{ offreDeStage.program }}</p>
        </section>

        <section class="sub-title">
          <h1>Exigences</h1>
          <p class="description-text">
            {{ offreDeStage.requirements }}
          </p>
        </section>

        <h3 class="section-title">Informations sur le stage</h3>

        <div class="main-container">
          <div class="inner-div">
            <p>Type de stage</p>
            <h1>{{ offreDeStage.stageType }}</h1>
          </div>

          <div class="inner-div-right">
            <div class="inner-div">
              <p>Date de début</p>
              <h1>{{ offreDeStage.startDate }}</h1>
            </div>
          </div>
        </div>

        <div class="main-container">
          <div class="inner-div">
            <p>Numbre d'heures par semaine</p>
            <h1>{{ offreDeStage.hoursPerWeek }}</h1>
          </div>

          <div class="inner-div-right">
            <div class="inner-div">
              <p>Date de fin</p>
              <h1>{{ offreDeStage.endDate }}</h1>
            </div>
          </div>
        </div>

        <div class="main-container">
          <div class="inner-div">
            <p>Rémmuneration</p>
            <h1>{{ offreDeStage.paid }}</h1>
          </div>
        </div>

        <h3 class="section-title">Informations suplémentaires</h3>
        <p class="description-text">
          {{ offreDeStage.additionalInfo }}
        </p>
      </mat-card>
    </div>
  </div>
</ng-container>
