<!-- Entête du tableau  -->
<div class="entetePlacement">
    <div>
        <h2>Dernières <span>demandes</span> de stage</h2>
        <p class="sousTitre__couleur">
            En attente de validation
        </p>
    </div>
    <button type="button" class="boutonValidationDemande" >
        Valider toutes les demandes
    </button>
</div>

<!-- Tableau-->
<table  mat-table #tableauBordDemandeStage [dataSource]="dataSourceDemandeStage" class="table__border"  matSort>

    <!-- Profil Column -->
    <ng-container matColumnDef="profil">
        <th mat-header-cell *matHeaderCellDef > 
          <p> Profil </p> 
            <div class="enteteTableauProfil__bordure"></div>
        </th>
        <td mat-cell *matCellDef="let demandeDeStage"  >
            <div class="coteTableau__bordure">
                <div class="profilColonneElement">
                    <div  class="iconBordure">
                        <mat-icon>school</mat-icon>
                    </div>
                    <div class="elementProfil" >
                        <p class="elementProfilPoste">{{demandeDeStage.titre}}</p>
                        <p>{{demandeDeStage.titre}}</p>
                    </div>
                </div>
            </div> 
        </td>
    </ng-container>

    <!-- Etablissement Column -->
    <ng-container matColumnDef="etablissement">
        <th mat-header-cell *matHeaderCellDef> 
           <p> Etablissement </p>
            <div class="enteteTableauEtablissement__bordure"></div>
        </th>
        <td mat-cell *matCellDef="let demandeDeStage" > 
            <div> 
               <p>{{demandeDeStage.city}} </p> 
            </div> 
        </td>
    </ng-container>
  
    <!-- Date Column -->
    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> 
          <p> Date </p>
            <div class="enteteTableauDate__bordure"></div>
        </th>
        <td mat-cell *matCellDef="let demandeDeStage">
            <p>  {{demandeDeStage.startDate}} </p>
        </td>
    </ng-container>

    <!-- Actions -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
           <p> Actions </p>
            <div class="enteteTableauActions__bordure"></div>
        </th>
        <td mat-cell *matCellDef="let demandeDeStage">
            <div class="tableauBtnAction__flex">
                <div class="tableauBtnAction__responsive">
                    <button class="tableBtnRefuser" aria-label="Modifier">Refuser</button>
                    <button class="tableBtnAccepter"  aria-label="Supprimer">Accepter</button>
                </div>
                <div class="tableauIconAction__responsive">
                    <button class="iconVisibilite" aria-label="Visibilite" ><mat-icon>visibility</mat-icon></button>
                    <button class="iconModifier" aria-label="Modifier"><mat-icon>edit</mat-icon></button>
                    <button class="iconSupprimer" aria-label="Supprimer"><mat-icon>delete</mat-icon></button>
                </div>
            </div>
        </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
 