.tableSection {
  background-color: #ffffff;
  width: 93%;
  margin: auto;
  border-radius: 10px;
  padding: 60px;
  margin-bottom: 100px;
}

.containerTable {
  margin: auto;
}
.containerTable .mat-table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  display: table;
  border-collapse: collapse;
  margin: 0px;
}
.containerTable .mat-row,
.containerTable .mat-header-row {
  display: table-row;
}
.containerTable .mat-cell,
.containerTable .mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 0px 5px;
  line-break: unset;
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}

p {
  font-size: 18px;
}

span {
  font-size: 28px;
  font-weight: 500;
}

.containerDonneesCards {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
}

.mat-card {
  width: 300px;
}

.tableauBordDonneesDemandesStage__card {
  background-color: #cd9635;
  color: #eeeeee;
  border-right: 40px solid #986d22;
  width: 30%;
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.tableauBordDonneesOffresStage__card {
  background-color: #bb2026;
  color: #eeeeee;
  border-right: 40px solid #821519;
  width: 30%;
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.tableauBordDonneesCard__flex, .tableauBordDonneesEntreprises__card, .tableauBordDonneesCandidats__card, .tableauBordDonneesCandidatsEntreprises__card {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tableauBordDonneesCandidatsEntreprises__card {
  width: 30%;
  margin: 10px;
}

.tableauBordDonneesCandidats__card {
  background-color: #7f2987;
  color: #eeeeee;
  border-radius: 5px 0px 0px 5px;
  border-right: 20px solid #4a1150;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 50%;
}

.tableauBordDonneesEntreprises__card {
  background-color: #86a9e6;
  color: #2f466e;
  border-radius: 0px 5px 5px 0px;
  border-left: 20px solid #5e7eb5;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 50%;
}

/*------------------------------------------------------------------------------------------------*/
/* MEDIA QUERIES xxlarge: 1500pxpx */
@media screen and (max-width: 1500px) {
  p {
    font-size: 16px;
  }
  span {
    font-size: 20px;
  }
  .mat-mdc-card-content {
    padding: 3px;
  }
  .mat-icon {
    height: 40px;
    width: 40px;
    font-size: 40px;
  }
}
/* MEDIA QUERIES xlarge: 1200px;*/
@media screen and (max-width: 1200px) {
  p {
    font-size: 12px;
  }
  span {
    font-size: 18px;
  }
  .mat-mdc-card-content {
    padding: 2px;
  }
  .mat-icon {
    height: 25px;
    width: 25px;
    font-size: 25px;
  }
  .containerDonneesCards {
    padding: 50px;
  }
}
/* MEDIA QUERIES large: 992px;*/
@media screen and (max-width: 992px) {
  p {
    font-size: 18px;
  }
  span {
    font-size: 28px;
  }
  .tableauBordDonneesCandidatsEntreprises__card, .tableauBordDonneesOffresStage__card, .tableauBordDonneesDemandesStage__card, .containerDonneesCards {
    width: 100%;
  }
  .mat-mdc-card-content {
    padding: 16px;
  }
  .containerDonneesCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
  }
}
/* MEDIA QUERIES $w-medium: 768px;; */
@media screen and (max-width: 768px) {
  .containerDonneesCards {
    padding: 10px;
  }
  .tableSection {
    padding: 30px;
  }
}/*# sourceMappingURL=tableau-de-bord-page.component.css.map */