@import "../../../SCSS/vars";

button {
  color: $blanc !important;
}

.rouge {
  background-color: $rouge-fonce !important;
}

.turquoise {
  background-color: $vert-turquoise !important;
}

.bleu {
  background-color: $bleu !important;
}

.mauve {
  background-color: $mauve !important;
}
