<!--- Cartes de entreprises --->
<a *ngFor="let entreprise of entreprises" routerLink="">
    <mat-card class="entrepriseCard">
        <img [src]="entreprise.imageUrl || '../../../assets/img/logoEntreprise.jpg'" alt="Logo entreprise">
        <div>
            <mat-card-header>
                <mat-card-title>
                    {{ entreprise.name }}
                </mat-card-title>
                <mat-card-subtitle>
                    <p>{{ entreprise.address }}</p> 
                    <p>{{ entreprise.city }} {{ entreprise.postalCode }}</p>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>Téléphone : {{ entreprise.contactPhone }}</p>
                <p>Courriel : {{ entreprise.contactEmail }}</p>
            </mat-card-content>
        </div>  
    </mat-card>
</a>
