@import "../../../SCSS/vars";


// ------------------- Général ------------------//
section {
    background-color: $gris-clair;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.containerEntreprises {
    width: 90%;
    margin: auto;
    
}


// ------------------- Entête ------------------//
.entreprisesHeaderPage{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 50px;
}

h2 {
    color: $gris-fonce;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

.entrepriseAdd__btn {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 12px;
    background-color: $bleu;
    color: #3a537e;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    &:hover, 
    &:focus {
        background-color: $bleu-fonce;
        cursor: pointer;
    }
}


// ------------------- Liste ------------------//
.entreprisesList{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    
    padding-bottom: 100px;
}


/*------------------------------------------------------------------------------------------------*/
/* MEDIA QUERIES xlarge: 1200px;*/
@media screen and (max-width: $w-xlarge) {
    .entreprisesList{
        display: grid;
        grid-template-columns: 1fr ;
        gap: 2rem;
    }
}
