@import "../../../SCSS/vars";

.text-area {
  display: flex;
  flex-direction: column;
  color: $gris-fonce;
  label {
    margin-bottom: 2rem;
  }
}

.leftBorder {
  border-left: 0.5rem solid $gris-fonce;
  margin: 3rem 0;
  padding-left: 0.5rem;

  mat-form-field {
    transform: translateY(1.375rem);
  }

  label {
    margin-bottom: 0;
  }
}

label {
  font-weight: 600;
  font-size: 1.3rem;
}

.bigger {
  font-size: 2rem;
}

.rouge {
  color: $rouge;
}

.turquoise {
  color: $vert-turquoise;
}

.bleu {
  color: $bleu;
}

.mauve {
  color: $mauve;
}

@media screen and (max-width: $w-medium) {
  .bigger {
    font-size: 1.3rem;
  }
}
