@import "../../../SCSS/vars";

//Header
h2 {
    margin-bottom: 0;
    font-weight: 600;
    color: $gris-fonce;
}

span {
    color: $rouge;
}

.sousTitre__couleur{
    color: $titre-inactif;
}

.entetePlacement {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.boutonValidationDemande {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 16px;
    background-color: #0c9da4;
    color: white;
    border-radius: 5px;
    border: none;
}

.boutonValidationDemande:hover {
    background-color: #098389;
    cursor: pointer;
}


//Tableau
p {
    margin: 0;
}

td {
    border-bottom: 1px solid $gris-fonce;
    vertical-align: middle;
}

th {
    border: none;
}

.mdc-data-table__header-cell {
    padding: 0px;
}

.mat-mdc-table .mdc-data-table__header-row {
    height: 0px;
}
  
.mat-mdc-table .mdc-data-table__row {
    height: 70px;
}
  
.mdc-data-table__cell, .mdc-data-table__header-cell {
    padding: 0px;
}
 
.mat-icon {
    font-size: 25px;
}

.iconBordure {
    border-radius: 5px;
    border: 1px solid $rouge;
    background-color: $icon-offre-stage-bg;
    color: $icon-offre-stage;
    padding: 5px;
    margin-left: 30px;
    margin-right: 10px;
}

.table__border{
    border: none;
}

.enteteTableauPoste__bordure {
    border: 3px solid $gris-fonce;
    width: 90%;
}

.enteteTableauVille__bordure {
    border: 3px solid $gris-fonce;
    width: 80%;
}

.enteteTableauDate__bordure {
    border: 3px solid $gris-fonce;
    width: 90%;
}

.enteteTableauActions__bordure {
    border: 3px solid $gris-fonce;
    width: 100%;
}

.coteTableau__bordure {
    border-left: 5px solid $rouge;
}

.posteColonneElement {
    display: flex;
    align-items: center;
}

.elementPoste {
    display: flex;
    flex-direction: column;
}

.elementPostePoste {
    font-size: 14px;
    font-weight: 600;
}

.tableauBtnAction__flex {
    display: flex;
    justify-content: space-between;
}
 
.tableauBtnAction__responsive{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tableBtnRefuser {
    background-color:$btn-refuser-bg;
    color: $btn-refuser;
    padding: 3px 10px 3px 10px;
    margin-right: 10px;
    border-radius: 5px;
    width: 100%;
}

.tableBtnRefuser:hover {
    background-color:#d7adad;
    cursor: pointer;
}

.tableBtnAccepter {
    background-color:$btn-accepter-bg;
    color: $btn-accepter;
    padding: 3px 10px 3px 10px;
    margin-right: 10px;
    border-radius: 5px;
    width: 100%;
}

.tableBtnAccepter:hover {
    background-color:#b7d8c5;
    cursor: pointer;
}

.tableauIconAction__responsive{
    display: flex;
}

.iconVisibilite {
    color: $vert-turquoise;
    margin: 10px;
}

.iconVisibilite:hover {
    color: #098389;
    cursor: pointer;
}

.iconModifier {
    color: #f89747;
    margin: 10px;
}

.iconModifier:hover {
    color: #d2813e;
    cursor: pointer;
}

.iconSupprimer {
    color: $rouge;
    margin: 10px;
}

.iconSupprimer:hover {
    color: $rouge-fonce;
    cursor: pointer;
}


/*------------------------------------------------------------------------------------------------*/
/* MEDIA QUERIES large: 992px; */
@media screen and (max-width: $w-large) {
    p{
        font-size: 13px;
    }

    .iconBordure {
        margin-left: 10px;
        margin-right: 5px;
    }

    .mat-icon {
        font-size: 20px;
        height: 20px;
        width: 20px;
    }

    .tableauBtnAction__flex {
       margin: 2px;
       width: 100%;
       text-align: center;
    }

    .tableauBtnAction__responsive {
        display: flex;
        flex-direction: column;
    }

    .tableBtnRefuser {
        margin:10px 10px 0px 0px;
        width: 80%;
    }

    .tableBtnAccepter {
        margin:10px 10px 10px 0px;
        width: 80%;
    }

    .tableauIconAction__responsive {
        display: flex;
        flex-direction: row;
    }

    .tableauBtnAction__flex {
        display: flex;
        align-items: center;
    }

    .iconVisibilite {
        margin-right: 5px;
        margin-left: 2px;
    }

    .iconModifier {
        margin-right: 5px;
    }

    .iconSupprimer{
        margin-right: 5px;
    }
}

/* MEDIA QUERIES  medium: 768px; */
@media screen and (max-width: $w-medium) {
     .entetePlacement  {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 50px;
    }

    .boutonValidationDemande {
        text-align: center;
        width: 60%;
    }

    .iconBordure{
        display: none;
        mat-icon {
            display: none;
        }
    }

    .elementPoste {
        padding-left: 10px;
    }
}

/* MEDIA QUERIES small: 576px; */
@media screen and (max-width: $w-small) {
    p{
      font-size: 11px;
    }
    
    .elementPostePoste {
        font-size: 13px;
    }

    .coteTableau__bordure{
        border: none;
    }

     .iconBordure{
        display: none;
        mat-icon {
            display: none;
        }
    }

    .elementPoste {
        padding-left: 0px;
    }

    .entetePlacement {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 50px;
    }

    .boutonValidationDemande {
        text-align: center;
        width: 100%;
    }

    .tableauBtnAction__responsive{
        font-size: 13px;
    }
    
    .iconVisibilite {
        margin-right: 2px;
        margin-left: 2px;
    }

    .iconModifier {
        margin-right: 2px;
    }

    .iconSupprimer{
        margin-right: 2px;
    }
}