<ng-container *ngIf="loading">
  <mat-spinner></mat-spinner>
</ng-container>

<ng-container *ngIf="!loading">
  <table
    mat-table
    #tableDemandeStage
    [dataSource]="dataSourceOffreDeStage"
    class="table__border"
    matSort
  >
    <!-- Profil Column -->
    <ng-container matColumnDef="poste">
      <th mat-header-cell *matHeaderCellDef>
        <p>Poste</p>
        <div class="enteteTableauProfil__bordure"></div>
      </th>
      <td mat-cell *matCellDef="let offreDeStage">
        <div
          [ngClass]="
            offreDeStage.active === true
              ? 'coteTableBorder'
              : 'coteTableBorder__inactif'
          "
        >
          <div class="profilColonneElement">
            <div
              [ngClass]="
                offreDeStage.active === true
                  ? 'iconBorder'
                  : 'iconBorder__inactif'
              "
            >
              <mat-icon>school</mat-icon>
            </div>
            <div class="elementProfil">
              <p
                [ngClass]="
                  offreDeStage.active === true
                    ? 'elementTitle'
                    : 'elementTitle__inactif'
                "
              >
                {{ offreDeStage.title }}
              </p>
              <p>
                {{ offreDeStage.program }}
              </p>
            </div>
          </div>
        </div>
      </td>
    </ng-container>

    <!-- Etablissement Column -->
    <ng-container matColumnDef="secteurActivite">
      <th mat-header-cell *matHeaderCellDef>
        <p>Secteur d'activité</p>
        <div class="enteteTableauEtablissement__bordure"></div>
      </th>
      <td mat-cell *matCellDef="let offreDeStage">
        <p>
          {{ offreDeStage.enterprise }}
        </p>
      </td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="region">
      <th mat-header-cell *matHeaderCellDef>
        <p>Région</p>
        <div class="enteteTableauDate__bordure"></div>
      </th>
      <td mat-cell *matCellDef="let offreDeStage">
        <p>
          {{ offreDeStage.entreprise }}
        </p>
      </td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="dateInscription">
      <th mat-header-cell *matHeaderCellDef class="dateResponsive">
        <p>Date d'inscription</p>
        <div class="enteteTableauDate__bordure"></div>
      </th>
      <td mat-cell *matCellDef="let offreDeStage" class="dateResponsive">
        <p>
          {{ offreDeStage.createdAt }}
        </p>
      </td>
    </ng-container>

    <!-- Actions -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let offreDeStage">
        <div class="tableauIconAction__responsive">
          <button
            class="iconVisibilite"
            aria-label="Visibilite"
            [routerLink]="'/offres-de-stage/' + offreDeStage._id!"
          >
            <mat-icon>visibility</mat-icon>
          </button>
          <button
            class="iconModifier"
            aria-label="Modifier"
            [routerLink]="'/offres-de-stage/' + offreDeStage._id! + '/edition'"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            class="iconSupprimer"
            aria-label="Supprimer"
            (click)="openDialog(offreDeStage)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</ng-container>
