@import "../../../SCSS/vars";

.candidatAjout {
  padding: 5rem;
  background-color: $gris-clair;
  color: $gris-fonce;
  font-weight: 600;
  letter-spacing: 0.1rem;

  &__title {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    margin-bottom: 10rem;
    padding: 0.25rem 1rem;
    border-left: 0.4rem solid $mauve-fonce;
  }

  &__buttonGroup {
    display: flex;
    justify-content: flex-end;
    column-gap: 1rem;
    margin-bottom: 2rem;

    &--cancel {
      color: $gris-fonce !important;
    }

    &--submit {
      color: #fff !important;
      background-color: $mauve-fonce !important;

      &:hover,
      &:focus {
        opacity: 0.8;
      }
    }
  }

  &__nameAndJobContainer {
    display: flex;
    flex-direction: column;

    &--textField {
      display: flex;
      font-size: 1.2rem;
      justify-content: space-between;
      flex-wrap: wrap;
      .mat-mdc-form-field {
        width: 75%;
      }
    }
  }

  &__error {
    width: 100%;
    flex-basis: 100%;
    color: $rouge;
    font-size: 0.7rem;
    font-weight: 400;
    text-align: end;
    transform: translateY(-1.5rem);
  }

  ::ng-deep .mdc-text-field {
    background-color: #fff;
  }

  &__detailed {
    background-color: white;
    padding: 5rem 3rem;
  }

  &__description {
    label {
      display: inline-block;
      font-size: 2rem;
      margin-bottom: 3rem;
      color: $vert-turquoise;
    }

    .mat-mdc-form-field {
      width: 100%;
    }
  }
}
