<ng-container *ngIf="offreDeStage$ | async as offreDeStage">
  <div class="container">
    <div class="title">
      <p>Offre de stage</p>
      <h1>{{ offreDeStage.data!.title }}</h1>
      <h2 class="square">{{ offreDeStage.data!.enterprise }}</h2>
    </div>

    <div class="icons">
      <a routerLink=""><mat-icon class="check-icon">check</mat-icon></a>
      <a routerLink=""><mat-icon class="edit-icon">edit</mat-icon></a>
      <button
        class="delete-button"
        type="button"
        (click)="deleteOffreDeStage(offreDeStage.data!._id!)"
      >
        <mat-icon class="close-icon">close</mat-icon>
      </button>
    </div>
    <div class="card-container">
      <mat-card class="mat-card">
        <h2>Description de la tâche</h2>
        <p class="description-text">
          {{ offreDeStage.data!.description }}
        </p>

        <section class="sub-title">
          <h1>Formation demandées</h1>
          <p>{{ offreDeStage.data!.program }}</p>
        </section>

        <section class="sub-title">
          <h1>Exigences</h1>
          <p class="description-text">
            {{ offreDeStage.data!.requirements }}
          </p>
        </section>

        <h3 class="section-title">Informations sur le stage</h3>

        <div class="main-container">
          <div class="inner-div">
            <p>Type de stage</p>
            <h1>{{ offreDeStage.data!.stageType }}</h1>
          </div>

          <div class="inner-div-right">
            <div class="inner-div">
              <p>Date de début</p>
              <h1>{{ offreDeStage.data!.startDate }}</h1>
            </div>
          </div>
        </div>

        <div class="main-container">
          <div class="inner-div">
            <p>Numbre d'heures par semaine</p>
            <h1>{{ offreDeStage.data!.hoursPerWeek }}</h1>
          </div>

          <div class="inner-div-right">
            <div class="inner-div">
              <p>Date de fin</p>
              <h1>{{ offreDeStage.data!.endDate }}</h1>
            </div>
          </div>
        </div>

        <div class="main-container">
          <div class="inner-div">
            <p>Rémmuneration</p>
            <h1>{{ offreDeStage.data!.paid }}</h1>
          </div>
        </div>

        <h3 class="section-title">Informations suplémentaires</h3>
        <p class="description-text">
          {{ offreDeStage.data!.additionalInfo }}
        </p>
      </mat-card>
    </div>
  </div>
</ng-container>
