@import "../../../SCSS/vars";

.tableSection{
    width: 93%;
    margin: auto;
    padding: 100px;
}

//Header
h2 {
    font-size: 3rem;
    margin-bottom: 0;
    font-weight: 500;
    color: $gris-fonce;
}

.entetePlacement {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

.boutonAjoutDemande {
    margin-top: 100px;
    margin-bottom: 20px;
    padding: 16px;
    background-color: $jaune;
    color: white;
    border-radius: 5px;
    border: none;
}

.boutonAjoutDemande:hover {
    background-color: $jaune-fonce;
    cursor: pointer;
}

// ------------------- Tableau ------------------//
.containerTable{
    margin: auto;
    background-color: $blanc;
    border-radius: 10px;
    padding: 100px;
    margin-bottom: 100px;
}


/*------------------------------------------------------------------------------------------------*/
/* MEDIA QUERIES xxlarge: 1500pxpx */
@media screen and (max-width: $w-xxlarge) {
   
}

/* MEDIA QUERIES xlarge: 1200px;*/
@media screen and (max-width: $w-xlarge) {
   

}

/* MEDIA QUERIES large: 992px;*/
@media screen and (max-width: $w-large) {
  
}

/* MEDIA QUERIES $w-medium: 768px;; */
@media screen and (max-width: $w-medium) {
    .tableSection{
        padding: 30px;
        margin-bottom: 20px;
    }
}

