<section>
  <div class="containerDonneesCards">
    <mat-card class="tableauBordDonneesDemandesStage__card">
      <mat-card-content class="tableauBordDonneesCard__flex">
        <mat-icon>subtitles</mat-icon>
        <p>
          Demandes de stage <br />
          <span>125</span>
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="tableauBordDonneesOffresStage__card">
      <mat-card-content class="tableauBordDonneesCard__flex">
        <mat-icon>send</mat-icon>
        <p>
          Offres de stage <br />
          <span>58</span>
        </p>
      </mat-card-content>
    </mat-card>

    <div class="tableauBordDonneesCandidatsEntreprises__card">
      <mat-card class="tableauBordDonneesCandidats__card">
        <mat-card-content class="tableauBordDonneesCard__flex">
          <mat-icon>person</mat-icon>
          <p>
            Candidats <br />
            <span>125</span>
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="tableauBordDonneesEntreprises__card">
        <mat-card-content class="tableauBordDonneesCard__flex">
          <mat-icon>person</mat-icon>
          <p>
            Entreprises <br />
            <span>125</span>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>

<section class="tableSection">
  <div class="containerTable">
    <app-tableau-bord-demandes-stage></app-tableau-bord-demandes-stage>
  </div>
</section>

<section class="tableSection">
  <div class="containerTable">
    <app-tableau-bord-offres-stage></app-tableau-bord-offres-stage>
  </div>
</section>
