<ng-container *ngIf="loading">
  <mat-spinner></mat-spinner>
</ng-container>

<div class="container" *ngIf="demandeDeStage && !loading">
  <app-section-title
    [title]="demandeDeStage.titre"
    subtitle="Demande de stage"
    color="jaune"
  ></app-section-title>

  <div class="icons">
    <button type="button" (click)="handlePublish()">
      <mat-icon class="check-icon">check</mat-icon>
    </button>
    <a routerLink="edition"><mat-icon class="edit-icon">edit</mat-icon></a>
    <button type="button" (click)="handleDontPublish()">
      <mat-icon class="close-icon">close</mat-icon>
    </button>
  </div>
  <div class="card-container">
    <mat-card class="mat-card">
      <p class="description-text">
        {{ demandeDeStage.description }}
      </p>
      <div class="main-container">
        <app-info-field
          *ngFor="let requirment of requirments"
          [label]="requirment.label"
          [info]="getDemandeDeStageLabel(requirment.field)"
        ></app-info-field>
      </div>
      <h3 class="section-title">Informations sur le stage recherché</h3>

      <div class="main-container">
        <app-info-field
          *ngFor="let info of stageInfo"
          [label]="info.label"
          [info]="getDemandeDeStageLabel(info.field)"
        ></app-info-field>
      </div>

      <h3 class="section-title">Informations suplémentaires</h3>
      <p class="description-text">
        {{ demandeDeStage.additionalInfo }}
      </p>
      <div class="button-outer">
        <a href="" class="download-button"
          ><mat-icon class="download-icon"> cloud_download</mat-icon>Télécharger
          le C.V.</a
        >
      </div>
    </mat-card>
  </div>
</div>
