<div class="container" *ngIf="demandeDeStage">
  <app-section-title
    [title]="demandeDeStage.titre"
    subtitle="Demande de stage"
    color="jaune"
  ></app-section-title>

  <div class="icons">
    <button type="button"><mat-icon class="check-icon">check</mat-icon></button>
    <a routerLink="edition"><mat-icon class="edit-icon">edit</mat-icon></a>
    <button type="button"><mat-icon class="close-icon">close</mat-icon></button>
  </div>
  <div class="card-container">
    <mat-card class="mat-card">
      <h2>{{ demandeDeStage._id }}</h2>
      <p class="description-text">
        {{ demandeDeStage.description }}
      </p>
      <div class="main-container"></div>
      <h3 class="section-title">Informations sur le stage recherché</h3>

      <div class="main-container">
        <div>
          <div class="inner-div">
            <p>Type de stage</p>
            <h1>Temps plein</h1>
          </div>
        </div>
        <div class="inner-div-right">
          <div class="inner-div">
            <p>Date de début</p>
            <h1>2022-05-29</h1>
          </div>
        </div>
      </div>
      <div class="main-container">
        <div class="inner-div">
          <p>Nombre d'heures par semaine</p>
          <h1>25 heures par semaine</h1>
        </div>

        <div class="inner-div-right">
          <div class="inner-div">
            <p>Date de fin</p>
            <h1>2022-09-01</h1>
          </div>
        </div>
      </div>
      <div class="main-container">
        <div class="inner-div">
          <p>Rémuneration</p>
          <h1>À la discretion de l'entreprise</h1>
        </div>
      </div>

      <h3 class="section-title">Informations suplémentaires</h3>
      <p class="description-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit
        amet quam justo. Aliquam interdum facilisis eros, ut dapibus quam
        hendrerit nec. Vestibulum vel blandit lorem. Praesent laoreet quis
        tortor quis pharetra. Nulla dictum erat id nisl pulvinar, ac aliquam
        lectus laoreet. Aliquam commodo pulvinar odio vitae interdum. Phasellus
        ut ante efficitur.
      </p>
      <div class="button-outer">
        <a href="" class="download-button"
          ><mat-icon class="download-icon"> cloud_download</mat-icon>Télécharger
          le C.V.</a
        >
      </div>
    </mat-card>
  </div>
</div>
