

// Couleurs

$noir:#030303;
$gris-clair:#eeeeee;
$gris-fonce:#5e5e5e;
$blanc:#ffffff;
$vert-turquoise:#0c9da4;
$vert-turquoise-fonce:#098389;
$rouge:#bb2026;
$rouge-fonce:#821519;
$bleu:#86a9e6;
$bleu-fonce:#5e7eb5;
$jaune:#cd9635;
$jaune-fonce:#986d22;
$jaune-clair:#fffbfb;
$mauve:#7f2987;
$mauve-fonce:#4a1150;
$mauve-clair:#fcd8ff;
$btn-refuser:#bb2026;
$btn-refuser-bg:#eccdcd;
$btn-accepter:#64ae5e;
$btn-accepter-bg:#cdecda;
$icon-demande-stage:#70582e;
$icon-demande-stage-bg:#d6b477;
$icon-offre-stage:#ff9fa3;
$icon-offre-stage-bg:#bb2026;
$icon-bg-inactif:#cbcbcb;
$icon-inactif:#030303;
$titre-inactif:#ff010e;

// Breakpoints

$w-small: 576px;
$w-medium: 768px;
$w-large: 992px;
$w-xlarge: 1200px;
$w-xxlarge: 1500px;